@font-face {
  font-family: Spartan;
  src: url(https://fonts.gstatic.com/s/spartan/v3/l7gAbjR61M69yt8Z8w6FZf9WoBxdBrFbvl6JABQ.woff2);
}

* {
  font-family: Spartan;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #666;
  border: 3px solid #fff;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

#note-holder::-webkit-scrollbar-thumb {
  background-color: #fff !important;
  border-color: #666 !important;
}

#note-holder::-webkit-scrollbar-track {
  background-color: #666 !important;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  animation: appear 1s ease-in;
}

.header-bar {
  display: flex;
  height: 4em;
  padding: 0 .75em;
  background-color: #000;
  justify-content: space-between;
}

#logo {
  width: 4em;
  padding-right: 1em;
}

.logo-white {
  height: 100%;
}

.logo-link {
  opacity: 0;
  display: inline-block;
  position: fixed;
  height: 4em;
  width: 4em;
}

.nav.nav-pills {
  display: inline-flex;
  overflow: auto;
}

.nav-item {
  color: transparent;
  display: inline-flex;
  align-items: center;
}

.nav-link {
  margin-left: 1em;
  color: #fff;
  text-decoration: none;
  width: max-content;
}

#bio {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 4em;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.icons a {
  color: #000;
  text-decoration: none;
  margin: 0 0.5em;
}

.icons a:first-child {
  margin-left: 0;
}

.icons a:last-child {
  margin-right: 0;
}

#commissions {
  display: flex;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 4em;
}

#note-holder, #packages {
  width: 100%;
  height: 100%;
  display: flex;
  max-height: 100%;
  overflow-y: scroll;
  flex-direction: column;
}

#note-holder {
  direction: rtl;
  background-color: #666;
}

#note-holder * {
  color: #fff;
}

#commission-title, #notes-title, #public-title {
  margin: 2em 0;
}

#notes {
  text-align: left;
  padding: 0 4em;
  margin-top: 0;
  margin-bottom: 2em;
  direction: ltr;
  line-height: 1.5em;
}

.package {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
  padding: 0 4em;
  max-width: calc(100% - 8em);
  flex-wrap: wrap;
}

.package img {
  width: 100%;
  margin-bottom: 1em;
}

/*Tables*/

.table-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table-inner {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  border-bottom: 2px solid;
}

th, td {
  text-align: left;
  padding: 0.25em;
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  text-align: right;
  padding-right: 0;
}

.table-wrapper span {
  text-align: left;
  width: 100%;
  margin-top: 1em;
}

#extra-table {
  width: calc(100% - 8em);
  padding: 0 4em;
  margin-bottom: 2em;
}

/*shop*/

#shop {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 4em;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #666;
}

#shop-info * {
  color: #fff;
  text-shadow: 0 0 2px #000;
}

#shop .icons {
  margin-top: 2em;
}

.shop-css {
  display: inline-block;
  margin: 0 1em;
}

.shop-css img {
  display: block;
  width: 50%;
  margin: auto !important;
  margin-bottom: 2em !important;
}

#shop-entry {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

#shop-entry a {
  text-decoration: none;
  color: #000;
  text-shadow: none !important;
}

#shop-info {
  margin-bottom: 3em;
  height: calc(100% - 3em) !important;
}

/*Public CSS*/

#public {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 4em;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#upcoming-info, #public-info {
  height: 100%;
  width: 100%;
}

#upcoming-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, #eb4921 0, #eb4921 25%, #ffd000 25%, #ffd000 50%, #24c681 50%, #24c681 75%, #4296f3 75%);
}

#upcoming-info * {
  color: #fff;
}

#public-info, #shop-info {
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.public-css, .shop-css {
  display: block;
  margin-bottom: 2em;
  text-align: center;
}

.public-css img, .shop-css img {
  width: calc(50% - 4em);
  margin: 0 1em;
  box-shadow: 0px 0px 2px;
}

.public-css span {
  margin-top: 1em;
  display: block;
}

.public-css .icons {
  margin-top: 1em;
}

/*Donos*/

#donate {
  background-color: #000;
  color: #fff;
  padding: 2em 3em;
}

#donate span {
  line-height: 1.5em;
}

#donate-button {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-top: 1em;
}
